.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include mobile {
    max-width: 414px;
  }

  // @include tablet {
  //   width: 768px;
  //   padding: 0 32px;
  // }

  @include tabletMin {
    max-width: 1024px;
    padding: 0 32px;
  }
}
