.footer {
  background-image: linear-gradient($bg-fon-footer, $bg-fon-footer);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

.footer-box {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo-box-footer {
  @include tablet {
padding: 114px 0 115px;
  }

  padding-top: 15px;
}

// .logo-mob-footer {
//   padding-top: 15px;
// }

.subtitle-footer {
  @include font(20px, 600, 0.05em);
  padding-bottom: 14px;
}

.contact-box {
  padding: 32px 0 52px 0;
}

.contact-item {
  display: flex;
  align-items: center;
  color: $primary-color;
  padding-bottom: 20px;

  &:last-child {
    padding-bottom: 0;
  }
}

.contact-link {
  @include short-font(20px, 0.1em);
}

.address-box {
  @include tablet {
    justify-content: start;
    padding: 5px 0 52px 0;
  }
  
  display: flex;
  justify-content: end;
  padding-bottom: 32px;
}

.map-box {
  position: relative;
  top: 35px;
  left: 0px;
}

.address-link {
  font-size: 20px;
  letter-spacing: 0.05em;
}
