/* для отступов между картинками на tablen & desctop */
// display: flex;
// flex-direction: row;
// justify-content: flex-end;
// gap: 29px;

.foto {
  position: relative;
}

.title-foto {
  @include font(30px, 700);

  letter-spacing: 0.05em;
  text-shadow: 3px 4px 10px $title-shadow;
  color: $primary-color;
  padding: 0 0 18px 38px;
}

.subtitle-foto {
  @include font(30px, 500);

  letter-spacing: 0.05em;
  color: $secondary-color;
  padding-left: 84px;
}

.common-foto {
  display: flex;
  justify-content: center;
}

.arrow {
  padding: 0;
  fill: $arrow-fill;
  background-color: transparent;
  border: none;
  // cursor: pointer;

  &__l {
    position: absolute;
    top: 310px;
    left: 10px;

    &--rooml {
      position: absolute;
      bottom: 130px;
      left: 10px;
    }
  }

  &__r {
    position: absolute;
    top: 310px;
    right: 10px;

    &--roomr {
      position: absolute;
      bottom: 130px;
      right: 10px;
    }
  }
}
