// Body
$bg-body: rgba(255, 251, 221, 0.45);

$primary-color: #263e24;
$secondary-color: #423d1b;
$accent-color: #cdcab3;
// $accent-color-second:
$accent-shadow: #7db67c;
$title-shadow: rgba(0, 0, 0, 0.25);

$invert-color-text: #fdf9de;
$bg-selection: #b5a851;

$icon-social: #cdcab3;
$arrow-fill: #a1a099;

$short-line: rgba(33, 33, 33, 0.2);

$bg-fon-transparent: rgba(0, 0, 0, 0.4);